body {
    margin: 0;
}

body > * {
    padding: 0 200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.header-container > ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

li > a {
    text-decoration: none;
    color: #e5e7eb;
}

.title-container {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 4%;
    padding-bottom: 4%;
    gap: 24px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

.left-side > h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.left-side > p {
    margin: 0;
}

.left-side > button, .signup-container > button {
    padding:1% 5%;
    margin-top: 10px;
    width: fit-content;
    height: fit-content;
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #e7e7eb;
    font-weight: bold;
}

.title-container > .placeholder {
    /* padding: 80px; */
    background-color: grey;
    color: white;
    flex: 1 1 0px;
    text-align: center;
}

.title-container > img {
    width: 500px;
    height: auto;
}
.info {
    text-align: center;
}

.info-container {
    display: flex;
    flex-direction: column;
}
.info-container > img {
    width: 200px;
    height: auto;
}
.info-container > .placeholder {
    padding: 75px;
    border: 3px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

.puss {
    background-image: url(puss.jpg);
}

.fiona {
    background-image: url(fiona.jpg);
}

.pinocchio {
    background-image: url(pinocchio.jpg);
}

.harold {
    background-image: url(harold.jpg);
}

.containers {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
    gap: 50px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #e7e7eb;
    padding: 6% 20%;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.quote-author {
    align-self: flex-end;
    margin: 0;
    font-weight: 700;
    margin-right: 30px;
    font-size: x-large;
}

.signup-container {
    display: flex;
    background-color: #3882f6;
    margin: 60px 200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.signup-container > button {
    border: #e5e7eb solid 2px;
}

.handp {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.handp > h6 {
    color: #e5e7eb;
    font-size: 24px;
    margin: 0;
}

.handp > p {
    color: #e5e7eb;
    margin: 0;
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
}